body {
    font-family: sans-serif;
    background-color: black;
    margin-top: 75px;
    BACKGROUND-SIZE: 8000PX 8000PX;
}


.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.main{
    color: white;
}