.container{
    text-align:center;
    padding-left: 400px;
}

.center {
    text-align:center; color:white;
    background-image: url("http://feelgrafix.com/817860-geek-wallpaper.html");
}
.mainbdy { background-color: blue;
    }
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.main{
    color: white;
}