body {
    font-family: sans-serif;
    background-image: url("http://feelgrafix.com/data_images/out/8/817860-geek-wallpaper.jpg");
    margin-top: 75px;
    
}
.center {
    text-align: center; color: white;
    background-image: url(http://feelgrafix.com/data_images/out/8/817860-geek-wallpaper.jpg); 
}
.mainbdy { background-color: metallicblue;
    }
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.main{
    color: white;
}